name: preditivo_rais_cpu
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pandas
  - numpy
  - scikit-learn
  - pyyaml
  - matplotlib
  - seaborn
  - jupyterlab
  - pip
  - pip:
      - joblib
